{% extends '../base.html' %}
{% block menu %}
    {% for table in menu %}
        <li><a href="{{ table.href }}">{{ table.name }}</a></li>
    {% endfor %}
{% endblock %}
{% load staticfiles %}

{% block content %}
<div class="feedback">
    <div class="enveloper">
        <h2>Обратная связь(Задайте нам вопрос)</h2>
    </div>
    <div class="cover">
    <h2 class="contact">Ваш вопрос</h2>
    <form id="contactform" method="POST">
        {% csrf_token %}
        <p class="contact"><label for="name">Имя</label></p>
        <input id="name" name="name" placeholder="Ваше имя" required="" tabindex="1" type="text">

        <p class="contact"><label for="email">Email</label></p>
        <input id="email" name="email" placeholder="example@sitehere.ru" required="" tabindex="2" type="text">

        <p class="contact"><label for="Subject">Тема</label></p>
        <input id="subject" name="subject" placeholder="Тема сообщения" required="" tabindex="2" type="text">

        <p class="contact"><label for="comment">Сообщение</label></p>
        <textarea name="comment" id="comment" tabindex="4"></textarea> <br>
        <input name="submit" id="submit" tabindex="5" value="Отправить" type="submit">
    </form>
</div>
</div>
{% endblock %}