{% extends '../base.html' %}
{% block menu %}
    {% for table in menu %}
        <li><a href="{{ table.href }}">{{ table.name }}</a></li>
    {% endfor %}
{% endblock %}
{% load staticfiles %}

{% block content %}

    <div class="news">
        {% for item in articles %}


            <h1>{{ item }} </h1>

            <img height="500" width="800" src="{{ item.image.url }}" alt="img"> <br>
            <p>{{ item.text|truncatechars:50 }}</p>

            <a href="/article/{{ item.id }}">
                <button>Продолжить?</button>
            </a>




        {% endfor %}
        <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="paginate-a" href="?page={{ page_obj.previous_page_number }}">Назад</a>
        {% endif %}
        <span class="current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
            </span>
        {% if page_obj.has_next %}
            <a class="paginate-a" href="?page={{ page_obj.next_page_number }}">Вперед</a>
        {% endif %}
    </span>
        </div>
    </div>
{% endblock %}